body{
    margin: 0;
    background-color: #EDF1F5;
    font-family: 'Poppins', sans-serif;
}

section{
    width: 70%;
    margin: 20px auto;
    background-color: #FEFEFE;
    border-radius: 25px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo_wrapper{
    width: 170px;
    height: 140px;
}

.logo_image{
    width: 100%;
    height: 100%;
}

.navigation_box{
    display: flex;
}

.signin_btn{
    background-color: #000000;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 12px;
    margin-right: 50px;
    cursor: pointer;
    font-weight: 600;
}

.mobile_menu_wrapper{
    position: absolute;
    display: none;
}

.menu_item{
    color: #A0A0A0;
    font-weight: 500;
    margin: 0 20px;
    cursor: pointer;
}

.selected_menu_item{
    color: #000000;
    font-weight: 600;
}

main{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* padding-bottom: 40px; */
}

.box-1{
    width: 40%;
}

.box-2{
    width: 60%;
    height: 500px;
    background-image: url('./assets/landing-section.png');
    background-size: cover;
    background-position-y: top;
    background-position-x: left;
    opacity: 0.8;
    border-radius: 10px;
}

.box-3{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    position: absolute;
    bottom: 0;
}

.new_feature{
    background-color: #FFE1F9;
    color: #697CFF;
    border: none;
    width: max-content;
    padding: 7px 14px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    cursor: pointer;
}

.landing_title{
    color: #000;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    margin: 25px 0;
}

.landing_subtitle{
    color: #8F8F8F;
    font-size: 14px;
    margin: 25px 0;
}
    
.get_started{
    background-color: #6A7CFF;
    color: #fff;
    width: max-content;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    cursor: pointer;
}

.left_arrow_wrapper{
    background-color: #6A7CFF;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 40px;
}

.left_arrow{
    color: #fff;
    font-size: 12px;
}

.right_arrow_wrapper{
    display: inline-block;
    padding: 3px 10px;
    border-radius: 40px;
    box-shadow: 0 0 15px 0.3px #656565;
    margin: 8px;
}

.right_arrow{
    color: #000;
    font-size: 12px;
}

.numbering{
    color: #6A7CFF;
    font-size: 12px;
    font-weight: 600;
}

.detail_bottom{
    color: #000;
    font-size: 12px;
    font-weight: 660;
    word-wrap: break-word;
}

.box3_div1{
    width: 130px;
}

.box3_div2{
    display: flex;
    width: 130px;
}

@media(max-width:600px){
    section{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    main{
        width: 100%;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .box-1{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box-2{
        width: 90%;
        margin: 40px auto;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 350px;
    }

    .box-3{
        width: 80%;
        margin: 0 auto;
        position: static;
    }

    .navigation_box, .signin_btn{
        display: none;
    }

    .mobile_menu_wrapper{
        display: block;
        right: 30px;
        cursor: pointer;
    }

    .menu_mob{
        font-size: 20px;
    }
}
